.main {
  background-color: #e4e7e8;
  height: 100%;
  min-height: 100vh;
}

input[type='radio'] {
  accent-color: #5c52fe;
}

.navbar {
  height: 64px;
  background-color: #9391f8 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar p {
  font-size: 20px;
  color: white;
  margin: 0;
}

.login-box {  
  width: 360px;
  max-width: 100%;
  background-color: white;
  border: 1px solid #f0f0f0;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  margin-top: 48px;
}

.register-box {  
  width: 800px;
  max-width: 100%;
  background-color: white;
  border: 1px solid #f0f0f0;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  margin-top: 48px;
}

.cursor-pointer {
  cursor: pointer;
}

.no-content-warning {
  width: 100%;
  background-color:antiquewhite;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
}

.error-message-warning {
  width: 100%;
  background-color: rgba(255,0,0,0.17);
  color: red;
  text-align: center;
  padding: 12px;
  border-radius: 5px;
}

.modal-background {
  display: flex;
  position: fixed; 
  height: 100%; 
  width: 100%; 
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.modal-layout {
  background-color: #fdfdfd;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 5px;
  height: 100%;
  max-height: 750px;
}

.questao-container {
  background-color: #fdfdfd;
  width: 100%;
  min-height: 120px;
  border: 1px solid gray;
  padding: 12px;
  border-radius: 5px; 
  margin-bottom: 12px;
}

.alternativa-container {
  width: 100%;
  border-top: 1px solid lightgray;
  padding: 4px;
  margin-top: 6px;
}

.page-link {
  min-width: 40px;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background-color: #6c63ff !important;
  border-color: #5c52fe !important;
}

.btn-secondary {
  background-color: #9391f8 !important;
  border-color: #9290f7 !important;
}

.btn-danger {
  background-color: #ff6363 !important;
  border-color: #fe6262!important;
}

.dropdown-user {
  background-color: #b8b7f2;
  padding-top: 4px;
  padding-left: 8px;
  width: 120px;
  height: 100px;
  position: absolute;
  right: 22px;
  top: 52px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.dropdown-user ul {
  list-style: none;
  padding: 0px;
}

.dropdown-user li {
  width: 104px;
}

.input-text {
  height: 40px;
  padding: 8px;
  border-radius: 12px;
  border: 2px solid lightgray;
}

.text-dark-gray {
  color: #444444;
}